<!DOCTYPE html>
<html>
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>404</h1>
    <p>I can't believe you've done this.</p>
  </body>
</html>
