<!DOCTYPE html>
<html>
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>Contact Us!</h1>
    <p>Contactable contacts to be contacted.</p>
  </body>
</html>
